/**
 *	01.	Header
 *	02. Features
 *	03.	Separator One
 *	04. About Us
 *	05. Your Team
 *	06. Testimonials
 *	07. Separator Two
 *	08. Blog
 *	09. Contact
 *	10.	Footer
 *	11.	Responsive
 */

.section-header h2 {
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 1;
}

.section-header .section-legend {
	line-height: 1;
	color: #333;
}

/* 01. Header */
.navbar {
	background: transparent;
	padding-bottom: 40px;
}

.navbar.active {
	background: rgba(0, 0, 0, 0.9);
}

.header.header > .navbar {
	box-shadow: none;
}

.navbar-header {
	min-height: 130px;
	float: none;
}

.navbar-brand {
	line-height: 130px;
	padding: 0;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
}

.intro-text {
	margin-bottom: 0;
}

.big-title-separator {
	width: 100%;
	height: 18px;
	background: url("../images/big-title-section-separator.png") no-repeat;
	background-position: center center;
	margin: 70px 0;
}

.buttons {
	margin-top: 0;
}

.header-content-wrap {
	padding: 274px 0 134px 0;
}

.btn-child {
	min-width: 200px;
	margin: 0 0 0 26px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 1;
	border-radius: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.btn-child:first-child {
	margin-left: 0;
}

.btn-child.yellow-btn {
	background: rgba(220, 159, 12, 0.9);
}

.btn-child.yellow-btn:hover {
	background: rgba(220, 159, 12, 1);
}

.btn-child.red-btn {
	background: rgba(227, 60, 60, 0.9);
}

.btn-child.red-btn:hover {
	background: rgba(227, 60, 60, 1);
}

/* 02. Features */
.focus {
	padding: 65px 0 100px;
}

.focus-box .service-icon {
	width: 100%;
	height: 115px;
	margin-bottom: 60px;
	border: none;
}

.focus-box:nth-child(4n+1) .service-icon:hover {
	border: none;
}

.focus-box:nth-child(4n+2) .service-icon:hover {
	border: none;
}

.focus-box:nth-child(4n+3) .service-icon:hover {
	border: none;
}

.focus-box:nth-child(4n+4) .service-icon:hover {
	border: none;
}

.focus-box h3 {
	width: 100%;
	margin-bottom: 30px;
}

.focus-box:nth-child(4n+1) .red-border-bottom:before,
.focus-box:nth-child(4n+2) .red-border-bottom:before,
.focus-box:nth-child(4n+3) .red-border-bottom:before,
.focus-box:nth-child(4n+4) .red-border-bottom:before {
	background: url("../images/features-section-separator.png") no-repeat center center;
}

.red-border-bottom:before {
	width: 100%;
	height: 14px;
	top: -30px;
	bottom: auto;
	left: 0;
}

/* 03. Separator One */
.separator-one {
	background: none;
	padding: 100px 0 120px 0;
	-webkit-box-shadow: inset 0px -158px 166px -38px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -158px 166px -38px rgba(0,0,0,0.75);
	box-shadow: inset 0px -158px 166px -38px rgba(0,0,0,0.75);
}

.separator-one .container {
	display: table;
}

.separator-one .container .button-box {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	float: none;
}

.separator-one .container .button-box .child-btn {
	height: 48px;
	line-height: 48px;
	background-color: rgba(209, 150, 14, 1);
	margin: 0 20px 0 0;
	padding: 0 35px;
	display: block;
	border-radius: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}

.separator-one .container .button-box .child-btn:hover {
	background-color: rgba(209, 150, 14, 0.9);
}

.separator-one .separator-description {
	width: auto;
	max-width: none;
	margin: 0;
	padding: 50px 0 50px 35px;
	display: table-cell;
	vertical-align: middle;
	border-left: 1px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	color: #fff;
	line-height: 1;
	text-align: left;
	text-transform: uppercase;
}

/* 04. About Us */
.about-us {
	background-color: #c23c3c;
	padding-top: 60px;
	padding-bottom: 0;
}

.about-us p {
	text-align: left;
	color: #939393 ;
	font-size: 14px;
	line-height: 25px;
	opacity: .65;
}

.about-us .container {
	padding: 0 130px;
}

.about-us .big-intro {
	line-height: 1;
	font-weight: 400;
}

.about-us .row {
	margin-bottom: 60px;
}

.about-us .column {
	margin-bottom: 0;
}

.about-us .column p {
	line-height: 1;
	font-size: 20px;
	color: #ffffff;
}

.about-us .column p:last-child {
	margin-bottom: 0;
}

.about-us .widget-title {
	width: 100%;
	margin-bottom: 10px;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	text-decoration: uppercase;
	position: relative;
}

.about-us #recentcomments {
	width: 100%;
}

.about-us #recentcomments li {
	width: 100%;
	margin: 0;
	padding: 0;
}

.about-us #recentcomments li a {
	float: none;
}

.skills .skill .skill-count {
	width: 110px;
	height: 110px;
}

.our-clients-section {
	width: 100%;
	background-color: #af2f2f;
	padding: 50px 0 60px 0;
}

.clients-section-title {
	width: 100%;
	margin-bottom: 125px;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	text-decoration: uppercase;
	position: relative;
}

.clients-section-title:before {
	content: "";
	width: 100%;
	height: 18px;
	background: url("../images/big-title-section-separator.png") no-repeat center center;
	position: absolute;
	top: 50px;
	left: 0;
}

.our-clients {
	margin: 0;
}

.client-list {
	margin: 0;
	padding: 0;
	float: left;
}

.client-list div a {
	width: 20%;
	margin-right: 0;
	padding: 0 20px;
	display: inline-block;
	float: left;
}

.client-list div a:first-child {
	padding-left: 0;
}

.client-list div a:last-child {
	padding-right: 0;
}

.client-list div img {
	max-width: 100%;
	margin-bottom: 0;
}

/* 05. Your Team */
.our-team {
	padding: 60px 0 0 0;
}

.team-member {
	padding: 0 23px;
}

.team-member .profile-pic {
	width: 100%;
	height: auto;
	margin-bottom: 70px;
}

.team-member h3 {
	margin-top: 0;
}

.our-team .row > div:nth-child(4n+1) .red-border-bottom:before,
.our-team .row > div:nth-child(4n+2) .red-border-bottom:before,
.our-team .row > div:nth-child(4n+3) .red-border-bottom:before,
.our-team .row > div:nth-child(4n+4) .red-border-bottom:before {
	display: none;
}

/* 06. Testimonials */
.testimonial {
	background-color: #0f1e2d;
	padding: 65px 50px;
}

#client-feedbacks .feedback-box {
	background: none;
	margin: 50px 0 0 0;
	padding: 0 35px 0 35px;
	border-right: 1px solid #ffffff;
	border-radius: 0;
}

#client-feedbacks .feedback-box:nth-child(1),
#client-feedbacks .feedback-box:nth-child(2),
#client-feedbacks .feedback-box:nth-child(3) {
	margin-top: 0;
}

.feedback-box .message {
	color: #fff;
	line-height: 24px;
}

.feedback-box .client {
	width: 100%;
	height: auto;
	float: left;
}

.feedback-box .client-image {
	width: 36.951501154%;
	height: auto;
	border: none;
	float: left;
}

.feedback-box .client-info {
	margin: 0;
	padding: 35px 0 0 0;
	color: #fff;
	float: right;
}

.feedback-box .client-info .client-name {
	font-size: 18px;
	color: #fff;
}

/* 07. Separator Two */
.purchase-now {
	background-color: rgba(212, 153, 17, 0.82);
	padding: 60px 0 73px 0;
	text-align: center;
}

.purchase-now h3 {
	line-height: 1;
	margin: 0 0 45px 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-align: center;
}

.purchase-now .red-btn {
	background-color: rgba(255, 255, 255, 1);
	margin: 0 auto;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
    font-size: 18px;
	color: #d39c1b !important;
	border-radius: 0;
	float: none;
}

.purchase-now .red-btn:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

/* 08. Blog */
.latest-news {
	padding: 60px 0 100px 0;
}

#carousel-homepage-latestnews .item {
	margin-bottom: 0;
}

#carousel-homepage-latestnews .item .latestnews-box .latestnews-img .latestnews-img-a {
	margin-bottom: 40px;
}

#carousel-homepage-latestnews .item .latestnews-box .latestnews-img .latestnews-img-a img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

#carousel-homepage-latestnews .carousel-inner .item .latestnews-title {
	width: 100%;
	margin: 0 0 40px 0;
	position: relative;
}

#carousel-homepage-latestnews .carousel-inner .item .latestnews-title a {
	line-height: 1;
	color: #333;
}

#carousel-homepage-latestnews .item .latestnews-box .latestnews-title:before {
	content: "";
	width: 100%;
	height: 18px;
	background: url("../images/blog-separator.png") no-repeat center center;
	position: absolute;
	bottom: -35px;
	left: 0;
}

#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+1) .latestnews-title a:before,
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+2) .latestnews-title a:before,
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n+3) .latestnews-title a:before,
#carousel-homepage-latestnews .item .latestnews-box:nth-child(4n) .latestnews-title a:before {
	display: none;
}

.latesnews-content p,
.latesnews-content {
	margin: 0;
	line-height: 20px;
	font-size: 16px;
	color: #333;
}

.carousel-control.left {
	margin-left: -65px;
}

.carousel-control.right {
	margin-right: -70px;
}

/* 09. Contact */
.contact-us {
	background: rgba(20, 31, 51, 0.1);
	padding: 65px 0 115px 0;
}

.contact-us .section-header {
	padding-bottom: 35px;
}

.contact-us .input-box,
.contact-us textarea {
	background: transparent;
	font-size: 16px;
	color: #ffffff !important;
	border: 2px solid #ffffff;
	border-radius: 0;
}

.contact-us .input-box {
	height: 50px;
	margin-bottom: 25px;
	padding: 0;
	border-radius: 0;
	border-bottom: 2px solid #ffffff !important;
}

.contact-us textarea {
	margin-bottom: 35px;
}

.contact-us .input-box::-webkit-input-placeholder,
.contact-us textarea::-webkit-input-placeholder {
	color: #ffffff !important;
}

.contact-us .input-box:-moz-placeholder,
.contact-us textarea:-moz-placeholder {
	color: #ffffff !important;  
}

.contact-us .input-box::-moz-placeholder,
.contact-us textarea::-moz-placeholder {
	color: #ffffff !important;  
}

.contact-us .input-box:-ms-input-placeholder,
.contact-us textarea:-ms-input-placeholder {
	color: #ffffff !important;  
}

.contact-us .custom-button {
	height: 48px;
	line-height: 48px;
	background-color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0 20px;
	border-radius: 0;
	font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #333333 !important;
}

.contact-us .custom-button:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

/* 10. Footer */
#footer {
	background-color: #141f33;
	padding: 20px 0 50px 0;
}

#footer .copyright {
	background: transparent;
}

#footer .top-footer {
	width: 995px;
	margin: 0 auto 75px auto;
}

#footer .top-footer p {
	margin: 15px 0 0 0;
	font-size: 16px;
	color: #ffffff;
}

#footer .top-footer p a {
	color: #ffffff;
}

#footer .bottom-footer {
	width: 100%;
}

#footer .bottom-footer .container .row {
	padding-top: 40px;
	border-top: 2px solid #ffffff;
}

#footer .bottom-footer p {
	margin: 0;
	font-size: 16px;
	color: #ffffff;
}

#footer .bottom-footer p a {
	font-size: 16px;
	color: #ffffff;
}

#footer .bottom-footer p a:hover {
	text-decoration: underline;
}

/* 11. Responsive */
@media (min-width: 1200px) {
	/*
	.container {
		width: 1742px;
	}
	*/
}

@media (max-width: 1200px) {
	.about-us .column p {
		font-size: 20px;
	}
	.feedback-box .client-info {
		padding-top: 0;
	}
	.feedback-box .client-info .client-name {
		line-height: 1;
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
	.about-us .big-intro {
		text-align: left !important;
	}
	.about-us .column p:last-child {
		margin: 30px 0;
	}
	.client-list div a {
		width: 25%;
	}
	.client-list div a:nth-child(4n+1) {
		clear: both;
		padding-left: 0;
	}
	#client-feedbacks .feedback-box {
		margin: 50px 0 !important;
		padding: 0;
		border-right: 0;
	}
	.feedback-box .client-info .client-name {
		font-size: 30px;
	}
	#footer .top-footer {
		width: 100%;
	}
}

@media (max-width: 767px) {
	#main-nav {
		padding-bottom: 0;
	}
	.navbar-toggle.collapsed {
		margin-top: 50px;
	}
	.btn-child {
		margin: 20px 0;
	}
	.btn-child:first-child {
		margin-top: 0;
	}
	.btn-child:last-child {
		margin-bottom: 0;
	}
	.separator-one .container .button-box {
		width: 100%;
		display: block;
		text-align: center;
	}
	.separator-one .container .button-box .child-btn {
		margin: 0 auto 0 auto;
		display: inline-block;
	}
	.separator-one .separator-description {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		display: block;
		border-left: 0;
	}
	.about-us .container {
		padding: 0 15px;
	}
	.feedback-box .client-info {
		width: 100%;
	}
	.testimonial {
		padding-right: 0;
		padding-left: 0;
	}
	#footer .top-footer .row .col-sm-4 {
		margin: 30px 0;
	}
	#footer .top-footer .row .col-sm-4:first-child {
		margin-top: 0;
	}
	#footer .top-footer .row .col-sm-4:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 480px) {
	.menu-align-center .responsive-logo > a {
		width: 50%;
	}
	.btn-child {
		width: 100%;
		min-width: 0;
		padding: 20px 25px;
		font-size: 20px;
	}
	.client-list div a {
		width: 100%;
		margin: 30px 0;
		padding: 0;
	}
	.client-list div a:first-child {
		margin-top: 0;
		margin-bottom: 0;
	}
	.contact-us .custom-button {
		width: 100%;
		font-size: 20px;
	}
}

@media (max-width: 320px) {}